@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

* {
	box-sizing: border-box;
	font-weight: bold;
	font-size: 1.1em;
	font-family: 'Comic Neue', cursive;
}
body {
	background-image: url('Screen.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-attachment: fixed;
	color: #f4f4f4;
	text-align: center;
}

.nav {
	display: flex;
	background: #000;
	width: auto;
	height: 30px;
	align-items: center;
	justify-content: space-around;
	padding: 0 80px;
	/* box-shadow: 5px 5px 5px #2b2424; */
	color: #f4f4f4;
}

a {
	color: #f4f4f4;
	text-decoration: none;
	font-size: smaller;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

.searchbox {
	border: 0;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
	max-width: 100%;
	background: #2e1e07;
	box-shadow: 3px 3px 3px #2e1e07ce;
}

.card {
	width: 50%;
	height: 100px;
}

.searchBtn {
	border: 0;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
	max-width: 100%;
	background: #2e1e07;
	margin-top: 10px;
	box-shadow: 3px 3px 3px #2e1e07;
}

.searchbox:focus {
	outline: 0;
}

.searchBtn {
	outline: 0;
	transition: background-color 5s ease-out;
}

.searchBtn:hover {
	outline: 0;
	background-color: rgba(75, 162, 63, 0.774);
	cursor: pointer;
	transform: scale(0.9);
}

.searchBtn:focus {
	outline: 0;
	transition: background-color 1s ease-out;
}

.results {
	/* background: linear-gradient(to right, rgb(0, 251, 255), rgb(74, 162, 63)); */
	/* box-shadow: 5px 5px 5px rgba(169, 180, 117, 0.979); */
	padding: 50px;
}

.resultBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #000;
	margin: 10px;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	align-items: center;
	border-radius: 5px;
}

img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

/* @media screen and (max-width: 2560px) {
	body {
		width: 90%;
		max-width: 900px;
		margin: 0 auto;
		font-size: 50px;
	}
	.searchbox {
		width: 50vh;
		height: 50px;
	}
} */
